/*#portfolio {
  padding-top: 80px;
  margin-top: -440px;
  padding-bottom: 100px;
}*/
#portfolio .title h2 {
    font-size: 22px;
    color: #222222;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#portfolio .title span {
    font-size: 15px;
    font-weight: 300;
}

#portfolio .work-item {
    margin-top: 40px;
}

#portfolio .work-item h4 {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin: 20px 0 5px 0;
}

#portfolio .work-item span {
    color: #f55858;
}

#portfolio .work-item .image-holder {
    overflow: hidden;
    position: relative;
    text-align: center;
}

#portfolio .work-item .image-holder img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

#portfolio .work-item .image-holder .overlay {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #fff;
    top: 0;
    left: 0;
    text-align: center;
}

#portfolio .work-item .image-holder .overlay a {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -25px;
    margin-left: -25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
    line-height: 50px;
    padding: 5px;
}

#portfolio .work-item .image-holder:hover .overlay {
    zoom: 1.2;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 0.6;
    visibility: visible;
}

#portfolio .work-item .image-holder:hover .overlay a {
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
}

#portfolio .filters {
    margin-top: 60px;
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
}

#portfolio .filters li {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    cursor: pointer;
}

#portfolio .filters li.active {
    color: #f55858;
}

#portfolio #Grid .mix {
    display: none;
    opacity: 0;
}

.overlay-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 101;
    visibility: hidden;
}

.image-holder:hover .overlay-txt {
    visibility: visible;
}
