@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Helvetica;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-family: Nunito;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
body {
  overflow-x: hidden;
}

.toggler {
  position: absolute;
  left: 15px;
  top: 80px;
  z-index: 102;
}

@media screen and (max-width: 1200px) {
  .toggler {
    left: 10px;
    top: 25px;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(47px);
          transform: translateX(47px);
}

.label {
  background-color: #221c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  height: 20px;
  width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  color: #cccc5f;
  position: relative;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.label.light {
  background-color: #fff;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.ball:hover {
  cursor: pointer;
}

.ball.dark {
  background-color: #221c1c;
}

.fa-moon, .fa-sun {
  font-size: 0.8rem;
}

@media screen and (max-width: 998px) {
  .top-wave-wrapper {
    display: none;
  }
}

#logo {
  height: 60px;
}

#waves {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 992px) {
  #waves {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 999;
  width: 100%;
  background-color: transparent;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  font-family: Helvetica;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  display: inline;
  color: #fff;
}

nav ul {
  display: block;
  float: right;
}

nav ul li {
  display: inline;
  font-size: 1.2rem;
  margin: 0px 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
  padding-bottom: 5px;
  border: 2px solid transparent;
}
nav ul li:hover {
  border-bottom: 2px solid #f3a704;
}

nav ul .active {
  border-bottom: 2px solid #ffffff !important;
  padding-bottom: 5px;
}

nav .open-source {
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav #name {
  position: absolute;
  top: 20px;
  left: 80px;
  color: #fff;
  font-size: 1.2rem;
}

nav .burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  nav .burger {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul {
    display: none;
  }
  nav .open-source {
    display: none;
  }
  nav #name {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  nav {
    background-color: #003b4d !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

nav.dark {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background-color: #0b1339;
  color: #fff;
}

nav.dark .logo {
  color: #fff;
}

nav.dark ul li {
  color: #fff;
}

.dropdown {
  width: 100%;
  padding: 10px 10px;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 999;
  color: #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 200px;
  left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.dropdown .active-dropdown {
  background-color: #dbdbdb;
}

.dropdown ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #dbdbdb;
}

@-webkit-keyframes dropdown {
  0% {
    display: none;
    opacity:0;
  }
  100% {
    display: -webkit-box !important;
    display: flex !important;
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    display: none;
    top: -1000px;
  }
  100% {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: -725px;
  }
}

@-webkit-keyframes dropup {
  0% {
    display: -webkit-box !important;
    display: flex !important;
    top: -725px;
  }
  100% {
    display: none;
    top: -800px;
  }
}

@keyframes dropup {
  0% {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: -725px;
  }
  100% {
    display: none;
    top: -800px;
  }
}

main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("/assets/images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}

main .main-wrapper {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 100px;
}

@media screen and (max-width: 1200px) {
  main .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 30px 20px;
  }
}

main .main-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.3rem;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  main .main-wrapper .left {
    width: 90%;
  }
}

main .main-wrapper .left #click {
  color: #9b0000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .main-wrapper .left h1 {
  color: #003b4d;
  font-weight: 900;
  font-size: clamp(3.5rem, 5vw, 5rem);
}

@media screen and (max-width: 1200px) {
  main .main-wrapper .left h1 {
    text-align: center;
  }
}

main .main-wrapper .left p {
  font-size: 1.3rem;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 200;
  color: #222222;
}

main .main-wrapper .left .button {
  background-color: #F2962F;
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1200px) {
  main .main-wrapper .left .button {
    margin: 0 auto;
    display: block;
  }
}

main .main-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  main .main-wrapper .right {
    width: 90%;
  }
}

main .main-wrapper .right img {
  width: 500px;
}

@media screen and (max-width: 1200px) {
  main .main-wrapper .right img {
    width: 100px !important;
  }
}

main.dark {
  background-image: url("../images/bg-dark.png");
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

main.dark .main-wrapper .left {
  color: #fff;
}

main.dark .main-wrapper .left h1 {
  color: #fff;
}

main.dark .main-wrapper .left p {
  color: #fff;
}

main.dark .main-wrapper .left .button {
  background: #ffffff;
  color: #000;
}

.section-1 {
  min-height: 120vh;
  padding-bottom: 20px;
  z-index: 100;
  background-color: #003b4d;
  position: relative;
  color: #fff;
}

.section-1 h1 {
  font-size: 4.3rem;
  padding-top: 70px;
  text-align: center;
}

.section-1 p {
  font-size: 1.3rem;
  padding-top: 20px;
  text-align: center;
}

.section-1 .line {
  width: 10%;
  border: 2.5px solid #F2962F !important;
  border-radius: 5px;
  background: #F2962F !important;
  margin: 10px auto;
}

.section-1 .info-card img {
  margin: 0 auto;
  width: 250px;
  display: block;
}

.section-1 .info-card h2 {
  margin-top: 30px;
  font-size: 2.5rem;
  text-align: center;
}

.section-1.dark, .section-3.dark {
  background-color: #0b1339;
}
/*# sourceMappingURL=style.css.map */

.section-2 {
  height: fit-content;
  padding-bottom: 100px;
  z-index: 100; 
  background-color: rgb(0, 48, 80);
  position: relative;
  /*position: relative;*/
}

.section-2 h1 {
  font-size: 4.3rem;
  padding-top: 70px;
  text-align: center;
  color:  #fff;
}

.section-2 .intro-p {
  font-size: 1.3rem;
  padding-top: 20px;
  text-align: center;
  color:  #fff;
  margin:  0 auto;
  max-width:  60%;
}

.section-2 .line {
  width: 10%;
  border: 2.5px solid #F2962F !important;
  border-radius: 5px;
  background: #F2962F !important;
  margin: 10px auto;
}

.section-2.dark{
  background-color: #020422;
}

.timeline {
  margin-top: 70px ;
}

.timeline__content {
  border: none;
  /* background: linear-gradient(to right, #ad5389, #3c1053); */
  background: #020422;
  color:  #fff;
}
.timeline__content.dark {
  background: #0b1339;
}


.section-3 {
  min-height: 100vh;
  z-index: 100;
  /* background:  #fff; */
  background-color: #003b4d;
  color: #fff;
  position: sticky;
  top: 0vh;
}

.section-3 h1 {
  font-size: 4.3rem;
  padding-top: 70px;
  text-align: center;
}

.section-3 .intro-p {
  font-size: 1.3rem;
  padding-top: 20px;
  text-align: center;
  margin:  0 auto;
  max-width:  60%;
}

.section-3 .line {
  width: 10%;
  border: 2.5px solid #F2962F !important;
  border-radius: 5px;
  background: #F2962F !important;
  margin: 10px auto;
}
footer {
  background-color: #001e27;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
footer p {
  margin: 0;
  color: rgb(185, 185, 185);
  font-size: 1rem;
}
.footer-links {
  display: flex;
  margin-top: 5px;
  color: rgb(185, 185, 185);
}
.footer-links i{
  margin-right: 12px;
}
.footer-links i:hover {
  color: rgb(82, 82, 82);
	cursor: pointer;
	transition: 0.2s all ease;
}
@media screen and (max-width: 600px) {
  .section-2 .intro-p {
    max-width: 90%;
    font-size: 1rem;
  }
  .section-1 p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
  }
}