$lg: 1200px;
$md: 992px;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Helvetica;
    transition: 0.2s all ease;
    font-family: Nunito;
    scroll-behavior: smooth;
  }
body {
  overflow-x: hidden;
}
//For the dark/light toggler------------------------------------------------------------------------------
  .toggler {
    position: absolute;
    left: 15px;
    top: 80px;
    z-index: 102;
    @media screen and (max-width: $lg) {
        left: 10px;
        top: 25px;
    }
}
.checkbox {
    position: absolute;
    opacity: 0;
}
.checkbox:checked + .label .ball{
    transform: translateX(42px);
}
.label {
    background-color: rgb(34, 28, 28);
    display: flex;
    border-radius: 50px;
    height: 28px;
    width: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: rgb(204, 204, 95);
    position: relative;
    transition: 0.2s all ease;
}
.label.light {
    background-color: #fff;
}
.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s all ease;
    &:hover {
        cursor: pointer;
    }
}
.ball.dark {
    background-color: rgb(34, 28, 28);
}
.fa-moon, .fa-sun {
    font-size: 0.8rem;
}
.top-wave-wrapper {
    @media screen and (max-width: 998px) {
        display: none;
    }
}
//------------------------------------------------------------------------------
#logo {
    height: 60px;
}
#waves {
  position: absolute;
  top: 0;
  left: 0;
  @media screen and (max-width: $md){
    display: none;
  }
}
  nav {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 999;
    width: 100%;
    background-color: transparent;
    color: #111;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    .logo {
      display: inline;
      color: #fff;
    }
    ul {
      display: block;
      float: right;
      li {
        display: inline;
        font-size: 1.2rem;
        margin: 0px 20px;
        color: #fff;
        cursor: pointer;
      }
      .active {
          border-bottom: 2px solid #ffffff;
          padding-bottom: 5px;
      }
      
    }
    .open-source {
        // background-color: #002286;
        background: #fff;
        color: #000;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2rem;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: fit-content;
    }
    #name {
      position: absolute;
      top: 20px;
      left: 80px;
      color: #fff;
      font-size: 1.2rem;
    }
    .burger {
      display: none;
      cursor: pointer;
      @media screen and (max-width: $lg) {
        color: #fff;
        font-size: 2rem;
        position: absolute;
        right: 20px;
        display: block;
      }
    }
    @media screen and (max-width: $lg){
      justify-content: center;
      ul {display: none;}
      .open-source {display: none;}
      #name {
        display: none;
      }
    }
    @media screen and (max-width: $md){
      background-color: #003b4d !important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  nav.dark {
    // background-color: rgb(34, 28, 28);
    transition: 0.2s all ease;
    background-color: #0b1339;
    color: #fff;
    .logo {
      color: #fff;
    }
    ul {
      li {
        color: #fff;
      }
    }
  }
.dropdown {
  width: 100%;
  padding: 10px 10px;
  // border: 2px solid red;
  background-color: white;
  position: absolute;
  top: 00px;
  z-index: 100;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 200px;
  left: 0px;
  display: none;
  flex-direction: column;
  .active-dropdown {
    background-color: rgb(219, 219, 219);
  }
  ul {li {
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: rgb(219, 219, 219);
    }
  
  }}
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}
@keyframes dropdown {
  0% {
    display: none;
    top: -1000px;
  }
  100% {
    display: flex !important;
    top: -725px;
  }
}
@keyframes dropup {
  0% {
    display: flex !important;
    top: -725px;
  }
  100% {
    display: none;
    top: -800px;
  }
}
main {

    // background-color: #002286;
    position: sticky;
    top: 0;
    background-image: url('/assets/images/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    .main-wrapper {
      width: 100%;
      margin: 0px auto;
      // background-color: rgba(140, 140, 140, 0.1);
      min-height: 100vh;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      padding: 30px 100px;
      @media screen and (max-width: $lg){
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px 20px;
      }
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.3rem;
        width: 50%;
        @media screen and (max-width: $lg){
          width: 90%;
        }
        #click {
          color: rgb(155, 0, 0);
          user-select: none;
          cursor: pointer;
        }
        h1 {
          color: #003b4d;
          font-weight: 900;
          font-size: clamp(3.5rem, 5vw, 5rem);
          @media screen and (max-width: $lg){
            text-align: center;
          }
        }
        p {
          font-size: 1.3rem;
          margin-top: 30px;
          line-height: 30px;
          font-weight: 200;
          color: rgb(34, 34, 34);
        }
        .button {
            // background-color: #fff;
            // background-color: #003b4d;
            background-color: #F2962F;
            border: none;
            color: rgb(0, 0, 0);
            padding: 15px 20px;
            text-align: center;
            display: inline-block;
            font-size: 1.2rem;
            margin-top: 30px;
            cursor: pointer;
            width: fit-content;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @media screen and (max-width: $lg){
              margin: 0 auto;
              display: block;
            }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $lg){
          width: 90%;
        }
        img {
            width: 500px;
            @media screen and (max-width: $lg){
              width: 100px !important;
            }
        }
      }
    }
  }
  
main.dark {
  background-image: url('../images/bg-dark.png');
  transition: 0.2s all ease;
  .main-wrapper {
    .left {
      color: #fff;
      h1 {
        color: #fff;
      }
      p {
        color: #fff;
      }
      .button {
        background: #ffffff;
        color: #000;
      }
    }
  }
}
.section-1 {
  min-height: 120vh;
  padding-bottom: 20px; 
  z-index: 100; 
  background-color: #003b4d; 
  position: relative; 
  // top: 0vh; 
  color: #fff;
  h1 {
    font-size: 4.3rem;
    padding-top: 70px;
    text-align: center;
  }
  p {
    font-size: 1.3rem;
    padding-top: 20px;
    text-align: center;
  }
  .line {
    width: 10%;
    border: 2.5px solid #F2962F !important;
    border-radius: 5px;
    background: #F2962F !important;
    margin: 10px auto;
  }
  .info-card {
    img {
      margin: 0 auto;
      width: 250px;
      display: block;
    }
    h2 {
      margin-top: 30px;
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
.section-1.dark {
  background-color: #0b1339;
}
